@use "../base/mixins"as *;
@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../global/responsive"as *;

.navbar {

    @include flex(center, space-between, 4rem);
    width: 100%;

    &__brand {
        min-width: 250px;

        img {
            height        : 60px;
            vertical-align: middle;
        }
    }

    &__menu {
        @include flex(center, space-between);

        @include ipad-landscape() {
            @include flex(center, space-between);
        }

        @include devices-small-screens {
            display: none;
        }

        @include devices(l) {
            display: none;
        }

        .menu__link {
            display    : block;
            line-height: 28px;
            padding    : 12px 10px;
            position   : relative;
            transition : color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;

            &::before {
                background-image   : url("../images/menu-hover.png");
                background-position: center center;
                background-repeat  : no-repeat;
                bottom             : 0;
                content            : "";
                height             : 8px;
                left               : -5px;
                position           : absolute;
                right              : 0;
                transition         : all 0.3s ease-in-out;
                opacity            : 0;
            }
        }

        .menu__item.active .menu__link,
        .menu__item .menu__link:hover {
            @include apply-color(sky-blue);

            &::before {
                opacity: 1;
            }
        }
    }
}

.navbar--active {

    .navbar__list {
        height    : calc(100% - 67px);
        overflow-y: auto;
        visibility: visible;
    }

}